Repository NREL/SAM, pull requests merged in 2023-12, with the labels that each got.

#1622 Show correct custom forecast dispatch options for FOM automated dispatch, BTM peak shaving dispatch
  deploy/runtime/defaults/Generic PVWatts Wind FuelCell Battery Hybrid_Host Developer.json
  deploy/runtime/defaults/PVWatts Wind Battery Hybrid_Host Developer.json
  deploy/runtime/defaults/PVWatts Wind FuelCell Battery Hybrid_Host Developer.json
  deploy/runtime/defaults/Photovoltaic Wind Battery Hybrid_Host Developer.json
  deploy/runtime/startup.lk
  deploy/runtime/ui/Battery Dispatch Automated FOM.json
  deploy/runtime/ui/Battery Dispatch Common.json
  deploy/runtime/ui/Battery Dispatch Peak Shaving BTM.json
  deploy/runtime/ui/Battery Dispatch Retail Rate.json
Labels: battery, dev bug

#1640 Sam 1632 crit load
  deploy/runtime/defaults/Generic PVWatts Wind FuelCell Battery Hybrid_Host Developer.json
  deploy/runtime/defaults/PVWatts Wind Battery Hybrid_Host Developer.json
  deploy/runtime/defaults/Photovoltaic Wind Battery Hybrid_Host Developer.json
  deploy/runtime/ui/Electric Load Data.json
Labels: dev bug

#1639 Fix parametric number of runs updates for hybrids #1541
  src/parametric.cpp
  src/parametric.h
Labels: dev bug

#1637 Update label checks, lowercase handling
  src/simulation.cpp
Labels: dev bug

#1651 Account for fom vs btm in hybrids wind ui callback
  deploy/runtime/ui/Wind Farm Costs.json
Labels: wind, dev bug

#1652 More manually check whether inverter needs to be updated in version
  deploy/runtime/versions.lk
Labels: dev bug
