Repository NREL/SAM, pull requests merged in 2024-10, with the labels that each got.

#1860 Send-to-Excel updates for depreciation and ITC basis updates
  deploy/runtime/cashflow.lk
  deploy/runtime/spreadsheets/community_solar.xlsx
  deploy/runtime/spreadsheets/host_developer.xlsx
  deploy/runtime/spreadsheets/merchant_plant.xlsx
  deploy/runtime/spreadsheets/partnership_flip.xlsx
  deploy/runtime/spreadsheets/sale_leaseback.xlsx
  deploy/runtime/spreadsheets/single_owner.xlsx
  deploy/runtime/ui/Financial Cost of Financing Flip Leaseback.json
  deploy/runtime/ui/Financial Cost of Financing Single Owner.json
  test_results_win64.csv
Labels: financial

#1862 Fix JSON Read Issues for URDB Downloads
  src/geotools.cpp
  src/urdb.cpp
Labels: bug, UI

#1865 Standalone battery metrics
  deploy/runtime/metrics.lk
Labels: battery

#1872 Add cf input to tidal turbine design page
  deploy/runtime/defaults/MEtidal_LCOE Calculator.json
  deploy/runtime/defaults/MEtidal_None.json
  deploy/runtime/ui/Marine Tidal Converter.json
  deploy/runtime/ui/Marine Tidal Resource File.json
  deploy/runtime/ui/Marine Tidal Turbine Design.json
  deploy/solar_resource/phoenix_az_33.450495_-111.983688_psmv3_60_tmy_test.csv
Labels: enhancement, requires help revision, marine

#1885 Adjust widget for wave and tidal technologies
  deploy/runtime/defaults/MEtidal_LCOE Calculator.json
  deploy/runtime/defaults/MEtidal_None.json
  deploy/runtime/defaults/MEwave Battery_Single Owner.json
  deploy/runtime/defaults/MEwave_LCOE Calculator.json
  deploy/runtime/defaults/MEwave_None.json
  deploy/runtime/defaults/MEwave_Single Owner.json
  deploy/runtime/startup.lk
  deploy/runtime/ui/Marine Availability.json
  src/uiobjects.cpp
  src/widgets.cpp
  src/widgets.h
Labels: enhancement, marine

#1884 Update Summary page graphs, timeseries graphs for BTM Battery technologies
  deploy/runtime/autographs.lk
  src/graph.cpp
  src/results.cpp
  src/results.h
Labels: enhancement, battery, requires help revision
